In [ ]:
# Ejercicios 1. Buscamos dataset en kaggle y encontramos un csv con los 50 libros más vendidos por Amazon entre 2009 - 2019.
# Nuestro csv elegido se llama 'books.csv'

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [8]:
#abrimos dataset
df = pd.read_csv("./books.csv").reset_index()

In [9]:
df.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [10]:
df["Genre"].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [11]:
#observamos qué variables son categóricas y numéricas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [48]:
df_numericas = df[["User Rating", "Reviews", "Price", "Year"]]
df_numericas.head(3)

   User Rating  Reviews  Price  Year
0          4.7    17350      8  2016
1          4.6     2052     22  2011
2          4.7    18979     15  2018

In [49]:
df_categoricas = df[["Name", "Author", "Genre"]]
df_categoricas.head(3)

                                      Name              Author        Genre
0            10-Day Green Smoothie Cleanse            JJ Smith  Non Fiction
1                        11/22/63: A Novel        Stephen King      Fiction
2  12 Rules for Life: An Antidote to Chaos  Jordan B. Peterson  Non Fiction

In [30]:
# Ejercicio 2. Media
media = np.mean(df_numericas, axis = 0)                     #porqué no accede a la col con índices???????
df_media = pd.DataFrame(media)                              #convertimos a df para mejorar la legibilidad
df_media

                        0
User Rating      4.618364
Reviews      11953.281818
Price           13.100000
Year          2014.000000

In [50]:
#Desviación con respecto de la media
desv_media = np.abs(df_numericas-media)
desv_media.head(3)

   User Rating      Reviews  Price  Year
0     0.081636  5396.718182    5.1   2.0
1     0.018364  9901.281818    8.9   3.0
2     0.081636  7025.718182    1.9   4.0

In [36]:
#Varianza
var = np.var(df_numericas, axis = 0)
var

User Rating    5.142641e-02
Reviews        1.373692e+08
Price          1.173409e+02
Year           1.000000e+01
dtype: float64

In [38]:
#Desviación típica
std = np.std(df_numericas)
std

User Rating        0.226774
Reviews        11720.462500
Price             10.832401
Year               3.162278
dtype: float64

In [40]:
# Moda
df.head(10)
#Vamos a descartar la col Name y Reviews para calcular la moda porque creemos que no tendrán valores repetidos, por lo que no nos aportará mucha información.

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [42]:
moda, frecuencia = stats.mode(df[["Author", "User Rating", "Reviews", "Price", "Year", "Genre"]])
moda

array([['Jeff Kinney', 4.8, 8580, 8, 2009, 'Non Fiction']], dtype=object)

In [43]:
frecuencia

array([[ 12, 127,  10,  52,  50, 310]])

El array 'moda' nos dice los valores que más se repiten. El array 'frecuencia' nos indica el nº de veces que se repite cada uno de los valores que aparecen en el primer array.
- **moda -- frecuencia** 
- 'Jeff Kinney' = 12 --> Indica que este autor se repite 12 veces y así sucesivamente...

In [46]:
# Mediana
md = np.median(df_numericas, axis = 0)          # Mediana por columna
md

array([4.700e+00, 8.580e+03, 1.100e+01, 2.014e+03])

In [47]:
md = np.median(df_numericas)          # Mediana total
md

105.0

In [ ]:
# Media ponderada
peso = [tenemos que decidir qué peso para cada variable]
media_pond = np.average(df_numericas, peso)

In [ ]:
# Robustez. Se refiere al punto de ruptura?

In [52]:
# Coeficiente de variación
coef_var = np.std(df_numericas)/np.abs(np.mean(df_numericas))
coef_var

User Rating    0.049103
Reviews        0.980523
Price          0.826901
Year           0.001570
dtype: float64