In [1]:
import pandas as pd
import numpy as np
import re

In [27]:
df = pd.read_csv("./pairs_limpieza.csv", index_col = 0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species,injury,fecha_limpia,fatal_limpio,sexo
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,"FATAL, all onboard were killed by sharks",unspecified,Y,F
1,1797.05.28.R,1797,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,FATAL,May,Y,NaN

In [19]:
df.dtypes

case_number     object
year             int64
type            object
country         object
area            object
location        object
activity        object
name            object
age             object
time            object
species_        object
injury          object
fecha_limpia    object
fatal_clean     object
sexo            object
dtype: object

Ejercicio 1

In [20]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal_clean,sexo
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,"FATAL, all onboard were killed by sharks",NaN,Y,F
1,1797.05.28.R,1797,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,FATAL,May,Y,NaN

In [28]:
df["species"].unique()

array([nan, 'Tiger shark?', 'White sharks', ...,
       "Said to involve a 6 m to 7.3 m [20' to 24'] shark",
       "Said to be a 7.6 m [25'] shark",
       'Thought to involve a porbeagle or mako shark'], dtype=object)

Vamos a clasificar los tiburones en 5 especies: tiburón blanco (White), el tiburón tigre (Tiger ), el tiburón gris (Grey), el tiburón limón (Lemon) y el tiburón toro (Bull) y el resto en 'Unspecified'

Pistas: regex para buscar strings (5 patrones diferentes) y crear función en la que aplicamos el patrón regex

In [29]:
df_copia = df.copy()

In [23]:
patron_white = '.*[Ww](hite|HITE).*'
patron_tiger = '.*[Tt](iger|IGER).*'
patron_grey = '.*[Gg(rey|REY)].*'
patron_lemon = '.*[Ll](emon|EMON).*'
patron_bull = '.*[Bb](ull|ULL).*'

In [ ]:
#df["species_"].str.split(pat = patron_white , n= , expand= False, regex = True)

In [34]:
# def patrones(w,t,g,l,b):
#     for i in range(len(df_copia1['species_'])):

#         try:
#             if w in df_copia1[i]:
#                 print(df_copia1[i])
#                 df_copia1['species_'].replace(i, w, inplace=False)
#             elif t in df_copia1[i]:
#                 df_copia1['species_'].replace(i, t, inplace=False)
#             elif g in df_copia1[i]:
#                 df_copia1['species_'].replace(i, g, inplace=False)
#             elif l in df_copia1[i]:
#                 df_copia1['species_'].replace(i, l, inplace=False)
#             elif b in df_copia1[i]:
#                 df_copia1['species_'].replace(i, b, inplace=False)
#         except:
#             df_copia1['species_'][i].replace(i, 'Unspecified', inplace=False)
#             print(df_copia1[])
      
# solucion_patron = patrones(patron_white,patron_tiger,patron_grey,patron_lemon,patron_bull)
# solucion_patron

In [23]:
# def patrones(df1):
#     patron_white = '.*[Ww](hite|HITE).*'
#     patron_tiger = '[TtIiGgEeRr]{5}'
#     patron_grey = '[GgRrEeYy]{4}'
#     patron_lemon = '[LeMmOoNn]{4}'
#     patron_bull =  '[BbUuLl]{3}'
#     for indice in range(len(df1)):
#         try: 

#             if patron_white in df1[indice]:
#                 return df1[indice].replace(patron_white, 'white', inplace=False)
#             elif patron_tiger in df1[indice]:
#                 return df1[indice].replace(patron_tiger, 'tiger', inplace=False)
#             elif patron_grey in df1[indice]:
#                 return df1[indice].replace(patron_grey, 'grey', inplace=False)
#             elif patron_lemon in df1[indice]:
#                 return df1[indice].replace(patron_lemon, 'lemon', inplace=False)
#             elif patron_bull in df1[indice]:
#                 return df1[indice].replace(patron_bull, 'bull', inplace=False)
#         except:
#             return df1[indice] == 'Unspecified'
            
      


# sol = patrones(df_copia['species_'])

In [ ]:
# def patrones():
#    try:
#       patron = re.findall('.*[Ww](hite|HITE).*',df_copia['species_'])
#       for w in patron:
#          limpiada = re.sub(w,'white',limpiada) 
#    except:
#       limpiada = df_copia['species_'].replace('Unspecified', inplace=False) 
      
#    return limpiada

# patrones()

In [ ]:
# def patrones(x):
#     patron_white = re.findall('.*[Ww](hite|HITE).*',df_copia['species_'])
#     patron_tiger = re.findall('[TtIiGgEeRr]{5}',df_copia['species_'])
#     patron_grey = re.findall('[GgRrEeYy]{4}',df_copia['species_'])
#     patron_lemon = re.findall('[LeMmOoNn]{4}',df_copia['species_'])
#     patron_bull = re.findall('[BbUuLl]{3}',df_copia['species_'])
#     try:
#         if patron_white:
#             return 'white'
#         elif patron_tiger:
#             return 'tiger'
#         elif patron_grey:
#             return 'grey'
#         elif patron_lemon:
#             return 'lemon'
#         elif patron_bull:
#             return 'bull'
#         else:
#            return 'Unspecified' 
#     except:
#         return 'Unspecified'

# patrones()

In [ ]:
# def patrones(x):
#     try:
#         patron_white = re.findall('.*[Ww](hite|HITE).*',df_copia[str(x)])
#         patron_tiger = re.findall('.*[Tt](iger|IGER).*',df_copia[str(x)])
#         patron_grey = re.findall('.*[Gg(rey|REY)].*',df_copia[str(x)])
#         patron_lemon = re.findall('.*[Ll](emon|EMON).*',df_copia[str(x)])
#         patron_bull = re.findall('.*[Bb](ull|ULL).*',df_copia[str(x)])
#         if patron_white:
#             return 'white'
#         elif patron_tiger:
#             return 'tiger'
#         elif patron_grey:
#             return 'grey'
#         elif patron_lemon:
#             return 'lemon'
#         elif patron_bull:
#             return 'bull'
#         else:
#            return 'Unspecified' 
#     except TypeError:
#         return 'Unspecified'

# patrones('species_')

In [ ]:
# def patrones(x):
#     for i in range(len(x)):
#         try:
#             patron_white = re.findall('.*[Ww](hite|HITE).*',x[i])
#             patron_tiger = re.findall('.*[Tt](iger|IGER).*',x[i])
#             patron_grey = re.findall('.*[Gg(rey|REY)].*',x[i])
#             patron_lemon = re.findall('.*[Ll](emon|EMON).*',x[i])
#             patron_bull = re.findall('.*[Bb](ull|ULL).*',x[i])
#             if patron_white:
#                 return 'white'
#             elif patron_tiger:
#                 return 'tiger'
#             elif patron_grey:
#                 return 'grey'
#             elif patron_lemon:
#                 return 'lemon'
#             elif patron_bull:
#                 return 'bull'
#             else:
#                 return 'Unspecified' 
#         except:
#             return 'Unspecified'

# patrones(df_copia['species_'])

In [ ]:
# species_limpia = []  
# def patrones1(x):                        
#     for i in range(len(x)):  
#         if x[i] ==  re.findall('White',x[i]):
#             species_limpia.append(i)
#         else:
#             species_limpia.append('Unspecified')                 
#     print(species_limpia)
# patrones1(df_copia['species_'])

In [43]:
species_limpia = []  

def patrones(x): 
    columna_species = df_copia[x]                      
    for fila in columna_species:                      
        if re.match('.*[Ww](hite|HITE).*', str(fila)):
            species_limpia.append('white')
        elif re.match('.*[Tt](iger|IGER).*',str(fila)):
            species_limpia.append('tiger')
        elif re.match('.*[Gg(rey|REY)].*', str(fila)):
            species_limpia.append('grey')
        elif re.match('.*[Ll](emon|EMON).*', str(fila)):
            species_limpia.append('lemon')
        elif re.match('.*[Bb](ull|ULL).*', str(fila)):
            species_limpia.append('bull')
        else:
            species_limpia.append('unspecified')

In [44]:
patrones('species')

Comprobamos que nuestra columna `species` está limpia

In [46]:
df_species_limpia = pd.DataFrame(species_limpia)
df_species_limpia.value_counts()

unspecified    2944
grey           2392
white           666
tiger           282
dtype: int64

In [47]:
df['species'] = df_species_limpia
df.head()

,case_number,year,type,country,area,location,activity,name,age,time,species,injury,fecha_limpia,fatal_limpio,sexo
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,unspecified,"FATAL, all onboard were killed by sharks",unspecified,Y,F
1,1797.05.28.R,1797,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,unspecified,FATAL,May,Y,NaN
2,1792.09.12,1792,Provoked,england,NaN,On the Thames River,Fishing,male,NaN,NaN,unspecified,"FATAL, PROVOKED INCIDENT",Sep,Y,M
3,1791.00.00,1791,Unprovoked,australia,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",NaN,NaN,unspecified,"FATAL, ""bitten in two""",unspecified,Y,F
4,1788.05.10,1788,Boat,australia,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,unspecified,"No injury to occupants, shark bit oar and rudder",May,N,NaN

Ejercicio 2

In [48]:
df_copia['age'].unique()

array([nan, 'young', '14', '19', '20', '15', '21', '27', '36', '25', '6',
       '16', '50', '13 or 14', '57', '11', '48', '18', '52', '12', '32',
       '10', '34', '30', '60', '33', '29', '54', '41', '37', '56', '69',
       '38', '55', '35', '46', '45', '40s', '28', '24', '26', '49', '22',
       '7', '31', '17', '40', '13', '42', '3', '8', '82', '73', '20s',
       '68', '51', '39', '58', 'Teen', '47', '61', '65', '66', '43',
       '60s', '9', '72', '59', '64', '23', '71', '44', '62', '63', '70',
       '18 months', '53', '30s', '50s', 'teen', '77', '74', '28 & 26',
       '5', '86', '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30',
       'Teens', '36 & 26', '8 or 10', '84', '\xa0 ', ' ', '30 or 36',
       '6½', '21 & ?', '75', '33 or 37', 'mid-30s', '23 & 20', ' 30',
       '7      &    31', ' 28', '20?', "60's", '32 & 30', '16 to 18',
       '87', '67', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ',
       '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81',
       '"young"', '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½'], dtype=object)

In [ ]:
#child, young adult, adult, senior, unnespecify

Ejercicio 2

In [33]:
# def sacar_edades(col):
#     patron_años = r'\d+'
#     x = re.findall(patron_años, str(col))
#     try:
#         return int(x)
#     except:
#         return np.nan

# sacar_edades(df_copia['age'])

Para que no aparezca el Type Error tenemos que ejecutar el siguiente codigo:

In [ ]:
df_copia['age'] = df_copia['age'].astype(str)

# Prueba

In [69]:
col_age = df_copia.copy()
col_age["age"]

0       nan
1       nan
2       nan
3       nan
4       nan
       ...
6279    nan
6280    nan
6281    nan
6282    nan
6283    nan
Name: age, Length: 6284, dtype: object

In [87]:
# me he puesto un ejemplo para ayudarme a sacar la función
# df_copia[df_copia['age'] == '"middle-age"'].index
# df_copia['age'][4222] = 50
def limpiar_valores_str_unicos(col):
    lista_valores = ['young', 'Teen', '18 months', '30s', '50s', 'teen', 'Teens', "60's", 'adult', '(adult)', '"middle-age"', '2 to 3 months', '"young"','2½','40s','20s', '60s','18 or 20', '12 or 13','8 or 10',  '30 or 36','6½','33 or 37', 'mid-30s', '20?', '16 to 18','Elderly','mid-20s','Ca. 33','21 or 26','>50','18 to 22','25 to 35','25 or 28','13 or 18','7 or 8','9 or 10','10 or 12','31 or 33', '13 or 14']
    lista_valores_nuevo = [21, 21, 1.5, 42.5, 54, 21, 21, 65, 42.5, 42.5, 42.5, 0.3, 21, 2.5, 45, 25, 60, 19, 12.5, 9,33, 6.5, 35, 35,20, 17, 65, 25,33,23.5,55,20,0.75, 30,26.5, 15.5,7.5,9.5, 11, 32, 13.5  ]
    for valor in lista_valores:
        index = col_age[col == valor].index
        for valor_nuevo in lista_valores_nuevo:
           col[index] = valor_nuevo 
limpiar_valores_str_unicos(col_age['age'])

/tmp/ipykernel_276/306085208.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col[index] = valor_nuevo

En nuestra columna `age` existen dos tipos de datos: los strings que son una estimación de un número como por ejemplo `18 or 20` y los que se refieren a varios registros de un mismo dato `'21, 34,24 & 35'`

Aquí hemos limpiado los strings que  se refieren a un **único** dato. En este caso lo hemos hecho manualmente ya que no existe un patrón fácil y hay que tomar la decisión de con qué  número reemplazar uno a uno. 

Para ello hemos supuesto estos rangos de edad: de 0 12 años: child, 13 a 29 young adult, 30 a 55 adult, +55 senior. Si el string hacia referencia a una etapa, como `teen` o `ederly`, hemos supuesto la media de esa etapa para el rango establecido. Ejemplo: `teen` para nosotras es `young adult` así que lo hemos reemplazado por la media de edad de este rango `(13+29)/2 = 21`

Si hubiese dos valores `18 or 20` hemos reemplazado el string por la media de los valores.

In [89]:
col_age['age'].unique()

array(['nan', 32, '14', '19', '20', '15', '21', '27', '36', '25', '6',
       '16', '50', 13.5, '57', '11', '48', '18', '52', '12', '32', '10',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '69', '38',
       '55', '35', '46', '45', '28', '24', '26', '49', '22', '7', '31',
       '17', '40', '13', '42', '3', '8', '82', '73', '68', '51', '39',
       '58', '47', '61', '65', '66', '43', '9', '72', '59', '64', '23',
       '71', '44', '62', '63', '70', '53', '77', '74', '28 & 26', '5',
       '86', '46 & 34', '28, 23 & 30', '36 & 26', '84', '\xa0 ', ' ',
       '21 & ?', '75', '23 & 20', ' 30', '7      &    31', ' 28',
       '32 & 30', '87', '67', '74 ', '45 ', '20 ', '9 & 12', '? & 19',
       '9 months', '23 & 26', '1', '33 & 37', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X', 50,
       '34 & 19', '33 & 26', 'MAKE LINE GREEN', ' 43', '81', '78',
       '17 & 16', 'F', 'Both 11', '36 & 23', '  ', 'A.M.', '?    &   14'],
      dtype=object)

# Final prueba

In [55]:
patron_años = r'\d+'
x = re.findall(patron_años, df_copia['age'])

TypeError: expected string or bytes-like object

In [53]:
def sacar_edades(col):
    patron_años = r'\d+'
    x = re.match(patron_años, col)
    try:
        return x
    except:
        return np.nan

sacar_edades(df_copia['age'])

TypeError: expected string or bytes-like object

In [90]:
col_age['age'] = col_age['age'].astype(str)

In [52]:
df_copia['age'] = df_copia['age'].astype(str)

In [91]:
def sacar_edades(col):
    patron_años = r'\d+'
    x = re.findall(patron_años, col)
    try:
        return x
    except:
        return np.nan

sacar_edades(col_age['age'])

TypeError: expected string or bytes-like object

Aplicamos la función

In [53]:
df_copia['age_new'] = df_copia['age'].apply(sacar_edades)

In [ ]:
df_copia['age'].unique()

In [ ]:
df_copia['age_new'].unique()

In [ ]:
df_copia.head(30)

In [ ]:
df["age_new"].unique()

In [ ]:
df = df.explode('age_new')
df["age_new"].sample(10)

Falta comprobar que ha funcionado

In [ ]:
df

In [95]:
col_age["age"].unique()

array(['nan', '32', '14', '19', '20', '15', '21', '27', '36', '25', '6',
       '16', '50', '13.5', '57', '11', '48', '18', '52', '12', '10', '34',
       '30', '60', '33', '29', '54', '41', '37', '56', '69', '38', '55',
       '35', '46', '45', '28', '24', '26', '49', '22', '7', '31', '17',
       '40', '13', '42', '3', '8', '82', '73', '68', '51', '39', '58',
       '47', '61', '65', '66', '43', '9', '72', '59', '64', '23', '71',
       '44', '62', '63', '70', '53', '77', '74', '28 & 26', '5', '86',
       '46 & 34', '28, 23 & 30', '36 & 26', '84', '\xa0 ', ' ', '21 & ?',
       '75', '23 & 20', ' 30', '7      &    31', ' 28', '32 & 30', '87',
       '67', '74 ', '45 ', '20 ', '9 & 12', '? & 19', '9 months',
       '23 & 26', '1', '33 & 37', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X', '34 & 19',
       '33 & 26', 'MAKE LINE GREEN', ' 43', '81', '78', '17 & 16', 'F',
       'Both 11', '36 & 23', '  ', 'A.M.', '?    &   14'], dtype=object)

In [96]:
col_age.to_csv("pairs_limpieza.csv")