En este ejercicio de pair programming utilizaremos el csv creado en el ejercicio de pair de Limpieza IV, ese en el que codificamos las variables categóricas.
El objetivo de este ejercicio es realizar la normalización o estandarización de las variables numericas de nuestro csv.
Este ejericio es suuuper cortito porque solo lo haremos sobre una columna, la de age. Recordemos de la lección que hay cierto tipo de columnas que no tiene sentido normalizar o estandarizar, como puede ser la latitud y longitud o incluso el año. En este contexto, vemos entonces que solo nos queda age!
¿Qué tendréis que hacer?
Pregunta teórica: Podríais explicar en pocas palabras ¿Qué es lo que hace exactamente el método boxcox de normalización de datos?
Normalizad los datos de la columna age. Utilizad los métodos aprendidos y explicad las diferencias entre cada uno de ellos. Para cada transformación que hagáis cread una columna nueva.
Guardad el csv con los cambios.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from scipy import stats
import math
from sklearn.preprocessing import MinMaxScaler

# Normalización

- Pregunta teórica: Podríais explicar en pocas palabras ¿Qué es lo que hace exactamente el método boxcox de normalización de datos?

##############################Busca más info 
Aplica una transformación boxcox de sobre nuestros datos, para que esten en la misma escala entre -5 y 5.

In [6]:
####################### borrar esta celda después
df = pd.read_csv("pairs_limpieza.csv", index_col = 0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species,injury,fecha_limpia,fatal_limpio,sexo
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,"FATAL, all onboard were killed by sharks",unspecified,Y,F
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,FATAL,May,Y,NaN

In [ ]:
# df = pd.read_csv("pairs_limpieza.csv")
# df.head(2)

In [8]:
df["age"].unique()

array([nan, 'young', '14', '19', '20', '15', '21', '27', '36', '25', '6',
       '16', '50', '13 or 14', '57', '11', '48', '18', '52', '12', '32',
       '10', '34', '30', '60', '33', '29', '54', '41', '37', '56', '69',
       '38', '55', '35', '46', '45', '40s', '28', '24', '26', '49', '22',
       '7', '31', '17', '40', '13', '42', '3', '8', '82', '73', '20s',
       '68', '51', '39', '58', 'Teen', '47', '61', '65', '66', '43',
       '60s', '9', '72', '59', '64', '23', '71', '44', '62', '63', '70',
       '18 months', '53', '30s', '50s', 'teen', '77', '74', '28 & 26',
       '5', '86', '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30',
       'Teens', '36 & 26', '8 or 10', '84', '\xa0 ', ' ', '30 or 36',
       '6½', '21 & ?', '75', '33 or 37', 'mid-30s', '23 & 20', ' 30',
       '7      &    31', ' 28', '20?', "60's", '32 & 30', '16 to 18',
       '87', '67', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ',
       '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81',
       '"young"', '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½'], dtype=object)

In [ ]:
fig, axes = plt.subplots(1, 2, figsize = (15,5))

axes[0].set_title('Age')
axes[1].set_title('Age normalizado')
sns.distplot(df['age'] ,ax = axes[0])
# sns.distplot(df['age_normal'], ax = axes[1]);

Vemos en la gráfica que nuestros datos **columna age** no tienen una distribución normal por lo qu vamos a a proceder a normalización, en vez de estandarización. Así, transformaremos nuestros datos a una escala común para poder compararlos.

In [10]:
df.dtypes

case_number      object
year            float64
type             object
country          object
area             object
location         object
activity         object
name             object
age              object
time             object
species          object
injury           object
fecha_limpia     object
fatal_limpio     object
sexo             object
dtype: object

Las únicas columnas numéricas son *year* y *age*, por lo tanto son las únicas candidatas a ser normalizadas. Vamos a normalizar la columna *age* que es la única que tiene sentido hacerlo.

Vamos a comenzar con la normalización **MANUAL**

In [ ]:
min = np.min(df["age"]) 
max =np.max(df["age"])
media = df["age"].mean

In [ ]:
df["age_n_manual"] = (df["age"] - media) / (max - min)

In [ ]:
df["age_n_manual"]

In [ ]:
fig, axes = plt.subplots(1, 2, figsize = (15,5))

axes[0].set_title('Age')
axes[1].set_title('Age normalizado manual')
sns.distplot(df['age'] ,ax = axes[0])
sns.distplot(df['age_n_manual'], ax = axes[1]);

Vamos a comenzar con la normalización **LOGARÍTMICA**

In [ ]:
df["age_n_log"] = df["age"].apply(lambda x: np.log(x) if != 0 else 0)

In [ ]:
df["age_n_log"]

In [ ]:
fig, axes = plt.subplots(1, 2, figsize = (15,5))

axes[0].set_title('Age')
axes[1].set_title('Age normalizado logaritmico')
sns.distplot(df['age'] ,ax = axes[0])
sns.distplot(df['age_n_log'], ax = axes[1]);

Vamos a comenzar con la normalización **RAÍZ CUADRADA**

In [ ]:
df["age_n_raiz"] = df["age"].apply(lambda x: math.sqrt(x))

In [ ]:
df["age_n_raiz"]

In [ ]:
fig, axes = plt.subplots(1, 2, figsize = (15,5))

axes[0].set_title('Age')
axes[1].set_title('Age normalizado raíz cuadrada')
sns.distplot(df['age'] ,ax = axes[0])
sns.distplot(df['age_n_raiz'], ax = axes[1]);

Vamos a comenzar con la normalización **BOXCOX**

In [ ]:
df["age_n_box"], lambda_ajustada = stats.boxcox(df["age"])

In [ ]:
lambda_ajustada

In [ ]:
df["age_n_box"]

In [ ]:
fig, axes = plt.subplots(1, 2, figsize = (15,5))

axes[0].set_title('Age')
axes[1].set_title('Age normalizado boxcox')
sns.distplot(df['age'] ,ax = axes[0])
sns.distplot(df['age_n_box'], ax = axes[1]);

Vamos a comenzar con la normalización **MINMAXSCALLER**

In [18]:
minmaxscaler = MinMaxScaler(feature_range=(0,1))

In [ ]:
minmaxscaler.fit(df["age"])

In [ ]:
X_normalizadas = minmaxscaler.transform(df["age"])

In [ ]:
age_minmax = pd.DataFrame(X_normalizadas) # a lo mejor hay que añadir columns = df["age_n_min"]
age_minmax.head(2)

In [ ]:
# df["age_n_min"] mira si necesitas estoo o no. Tal vez esta columna nueva es age_minmax

In [ ]:
# pon como se llame la columna nomralizada
fig, axes = plt.subplots(1, 2, figsize = (15,5))

axes[0].set_title('Age')
axes[1].set_title('Age normalizado MinMaxScaler')
sns.distplot(df['age'] ,ax = axes[0])
sns.distplot(df['age_n_raiz'], ax = axes[1]); #cambia esto

Comprobar que están todas las columnas en el df original???

Guardad el csv con los cambios

In [ ]:
# Asegúrate de que se llama así el archivo
# df.to_csv("pairs_limpieza.csv")