In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [2]:
df = pd.read_csv("pairs_limpieza.csv", index_col = 0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,species,injury,fecha_limpia,fatal_limpio,sexo
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,unspecified,"FATAL, all onboard were killed by sharks",unspecified,Y,F
1,1797.05.28.R,1797,Unprovoked,unknown,NaN,NaN,Dropped overboard,child,NaN,unspecified,FATAL,May,Y,NaN

Vamos a ver cuántos nulos tenemos en nuestro df

In [3]:
df.isnull().sum()

case_number        1
year               0
type               0
country            0
area             453
location         537
activity         540
name             209
age             2918
species            0
injury            28
fecha_limpia       0
fatal_limpio       0
sexo             564
dtype: int64

# Ejercicio 1. Eliminar nulos

- Reemplazad los valores nulos de la columna age por la media de la edad usando el método SimpleImputer.

Sabiendo el número de nulos que tiene la columna age, vamos a prodoceder a reemplazarlos.

In [4]:
df["age"].unique()

array([nan, 14., 19., 20., 15., 21., 27., 36., 25.,  6., 16., 50., 57.,
       11., 48., 18., 52., 12., 32., 10., 34., 30., 60., 33., 29., 54.,
       41., 37., 56., 69., 38., 55., 35., 46., 45., 28., 24., 26., 49.,
       22.,  7., 31., 17., 40., 13., 42.,  3.,  8., 82., 73., 68., 51.,
       39., 58., 47., 61., 65., 66., 43.,  9., 72., 59., 64., 23., 71.,
       44., 62., 63., 70., 53., 77., 74.,  5., 86., 84., 75., 87., 67.,
        1., 81., 78.])

Antes de proceder a elegir el argumento strategy de nnuestro SimpleImputer, vamos a hacer un pequeño análisis de cuál estadístico sería más representativo.

Hacemmos gráfica (vemos si está sesgada a la derecha, si no, o si es uan distribución normal... ahí justificamos si utilizamos comos strategy media o mdiana u otro.) Se supone que hemos elegido Mediana

In [5]:
imputer = SimpleImputer(df["age"], missing_values= np.nan, strategy = "median" )                # asegurarnos de que nuestros NANs son np.nan y si no poner otro miising_values.

/home/lcp87/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass missing_values=0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6279    NaN
6280    NaN
6281    NaN
6282    NaN
6283    NaN
Name: age, Length: 6284, dtype: object as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [6]:
imputer = imputer.fit(df[["age"]])

ValueError: Cannot use median strategy with non-numeric data:
could not convert string to float: 'young'

In [ ]:
df["age_sin_nulos"] = imputer.transform(df[["age"]])

In [ ]:
df["age_sin_nulos"]

In [ ]:
df["age_sin_nulos"].isnull().sum()

Observamos que la columna age ha cambiado los nulos por el valor de la mediana de esa misma columna, por lo tanto ahora la columna age no tiene valores nulos.

- Reemplazad los valores nulos de la columna *'sexo'* por la moda, usando el método SimpleImputer.

In [5]:
imputer = SimpleImputer(missing_values= np.nan, strategy = "most_frequent" )

In [6]:
imputer = imputer.fit(df[["sexo"]])

In [7]:
df["sexo"] = imputer.transform(df[["sexo"]])

In [8]:
df["sexo"]

0       F
1       M
2       M
3       F
4       M
       ..
6279    M
6280    M
6281    M
6282    M
6283    M
Name: sexo, Length: 6281, dtype: object

In [9]:
df["sexo"].isnull().sum()

0

- Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda) con el método SimpleImputer.

###########YA TENEMOS ESTA COLUMNA SIN NULOS

In [24]:
imputer = SimpleImputer(missing_values= np.nan, strategy = "most_frequent")

In [25]:
imputer = imputer.fit(df[["type"]])

In [26]:
df["type_sin_nulos"] = imputer.transform(df[["type"]])

In [27]:
df["type_sin_nulos"].isnull().sum()

0

Comprobamos que ya no existen valores nulos en la columna type. Todos los nulos se han reemplazado por el valor de la moda.

- Utilizad el método **KNN** **Imputer** para reemplazar todos los valores nulos de las columnas numéricas.

##############SOLO TENEMOS DOS COLUMNAS NUMERICAS QUE SON AGE Y YEAR Y YA ESTAN SIN NULOS

In [43]:
df_numericas = df.select_dtypes(include = np.number)                        #En este DF no aparecen todas las columnas numéricas, aparecerán cuando los archivos estén limpios.(asegurate que aparezca AGE)
                                                                            #cambiar el tipo de col time a (datetime64)
df_numericas.head(2)

   year
0  1800
1  1797

In [47]:
imputerKNN = KNNImputer(n_neightbors = 5)
imputerKNN.fit(df_numericas)

TypeError: __init__() got an unexpected keyword argument 'n_neightbors'

In [45]:
imputerKNN.fit(df_numericas)

NameError: name 'imputerKNN' is not defined

In [46]:
numericas_KNN = imputerKNN.transform(df_numericas)

NameError: name 'imputerKNN' is not defined

asdasd

 - Utilizad el método **Iterative Imputer** para reemplazar todos los valores nulos de las columnas numéricas.

In [12]:
imputer = IterativeImputer(n_nearest_features=None, imputation_order='ascending')

NameError: name 'IterativeImputer' is not defined

In [13]:
imputer.fit(df_numericas)

NameError: name 'df_numericas' is not defined

In [14]:
imputer.transform(df_numericas)

NameError: name 'df_numericas' is not defined

- ¿Podríais explicar que diferencia hay entre estos dos últimos métodos?

Ambos son métodos para reemplazar nulos. Las diferencias entre IterativeImputer y KNNImputer es que InterativeImputer los reemplaza en base a las columnas del df y el KNNInputer en base a los vecinos más próximos.

IterativeImputer elige un valor para los nulos en relación al df. Elegimos un estadístico (media, mediana...) y estima el valor a reemplazar en base a ese estadístico.

KNNImputer clasifica cada uno de los datos comparando ese dato y su similitud entre sus vecinos más próximos.

- Por último , verificamos que no tenemos nulos en esas columnas.

In [10]:
df.isnull().sum()

case_number        1
year               0
type               0
country            0
area             453
location         537
activity         540
name             209
age             2918
species            0
injury            28
fecha_limpia       0
fatal_limpio       0
sexo               0
dtype: int64

# Ejercicio 2. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair

In [12]:
df.to_csv("pairs_limpieza.csv")