In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("utilizar_copia.csv", index_col = 0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal_clean,sexo
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,"FATAL, all onboard were killed by sharks",NaN,Y,F
1,1797.05.28.R,1797,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,FATAL,May,Y,NaN

In [3]:
df.dtypes

case_number     object
year             int64
type            object
country         object
area            object
location        object
activity        object
name            object
age             object
time            object
species_        object
injury          object
fecha_limpia    object
fatal_clean     object
sexo            object
dtype: object

Ejercicio 1

In [4]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal_clean,sexo
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,"FATAL, all onboard were killed by sharks",NaN,Y,F
1,1797.05.28.R,1797,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,FATAL,May,Y,NaN

In [5]:
df["species_"].unique()

array([nan, 'Tiger shark?', 'White sharks', ...,
       "Said to involve a 6 m to 7.3 m [20' to 24'] shark",
       "Said to be a 7.6 m [25'] shark",
       'Thought to involve a porbeagle or mako shark'], dtype=object)

Vamos a clasificar los tiburones en 5 especies: tiburón blanco (White), el tiburón tigre (Tiger ), el tiburón gris (Grey), el tiburón limón (Lemon) y el tiburón toro (Bull) y el resto en 'Unspecified'

Pistas: regex para buscar strings (5 patrones diferentes) y crear función en la que aplicamos el patrón regex

In [6]:
df_copia = df.copy()

In [10]:
patron_white = '.*[Ww](hite|HITE).*'
patron_tiger = '.*[Tt](iger|IGER).*'
patron_grey = '.*[Gg(rey|REY)].*'
patron_lemon = '.*[Ll](emon|EMON).*'
patron_bull = '.*[Bb](ull|ULL).*'

In [ ]:
#df["species_"].str.split(pat = patron_white , n= , expand= False, regex = True)

In [34]:
# def patrones(w,t,g,l,b):
#     for i in range(len(df_copia1['species_'])):

#         try:
#             if w in df_copia1[i]:
#                 print(df_copia1[i])
#                 df_copia1['species_'].replace(i, w, inplace=False)
#             elif t in df_copia1[i]:
#                 df_copia1['species_'].replace(i, t, inplace=False)
#             elif g in df_copia1[i]:
#                 df_copia1['species_'].replace(i, g, inplace=False)
#             elif l in df_copia1[i]:
#                 df_copia1['species_'].replace(i, l, inplace=False)
#             elif b in df_copia1[i]:
#                 df_copia1['species_'].replace(i, b, inplace=False)
#         except:
#             df_copia1['species_'][i].replace(i, 'Unspecified', inplace=False)
#             print(df_copia1[])
      
# solucion_patron = patrones(patron_white,patron_tiger,patron_grey,patron_lemon,patron_bull)
# solucion_patron

In [23]:
# def patrones(df1):
#     patron_white = '.*[Ww](hite|HITE).*'
#     patron_tiger = '[TtIiGgEeRr]{5}'
#     patron_grey = '[GgRrEeYy]{4}'
#     patron_lemon = '[LeMmOoNn]{4}'
#     patron_bull =  '[BbUuLl]{3}'
#     for indice in range(len(df1)):
#         try: 

#             if patron_white in df1[indice]:
#                 return df1[indice].replace(patron_white, 'white', inplace=False)
#             elif patron_tiger in df1[indice]:
#                 return df1[indice].replace(patron_tiger, 'tiger', inplace=False)
#             elif patron_grey in df1[indice]:
#                 return df1[indice].replace(patron_grey, 'grey', inplace=False)
#             elif patron_lemon in df1[indice]:
#                 return df1[indice].replace(patron_lemon, 'lemon', inplace=False)
#             elif patron_bull in df1[indice]:
#                 return df1[indice].replace(patron_bull, 'bull', inplace=False)
#         except:
#             return df1[indice] == 'Unspecified'
            
      


# sol = patrones(df_copia['species_'])

In [ ]:
# def patrones():
#    try:
#       patron = re.findall('.*[Ww](hite|HITE).*',df_copia['species_'])
#       for w in patron:
#          limpiada = re.sub(w,'white',limpiada) 
#    except:
#       limpiada = df_copia['species_'].replace('Unspecified', inplace=False) 
      
#    return limpiada

# patrones()

In [ ]:
# def patrones(x):
#     patron_white = re.findall('.*[Ww](hite|HITE).*',df_copia['species_'])
#     patron_tiger = re.findall('[TtIiGgEeRr]{5}',df_copia['species_'])
#     patron_grey = re.findall('[GgRrEeYy]{4}',df_copia['species_'])
#     patron_lemon = re.findall('[LeMmOoNn]{4}',df_copia['species_'])
#     patron_bull = re.findall('[BbUuLl]{3}',df_copia['species_'])
#     try:
#         if patron_white:
#             return 'white'
#         elif patron_tiger:
#             return 'tiger'
#         elif patron_grey:
#             return 'grey'
#         elif patron_lemon:
#             return 'lemon'
#         elif patron_bull:
#             return 'bull'
#         else:
#            return 'Unspecified' 
#     except:
#         return 'Unspecified'

# patrones()

In [ ]:
# def patrones(x):
#     try:
#         patron_white = re.findall('.*[Ww](hite|HITE).*',df_copia[str(x)])
#         patron_tiger = re.findall('.*[Tt](iger|IGER).*',df_copia[str(x)])
#         patron_grey = re.findall('.*[Gg(rey|REY)].*',df_copia[str(x)])
#         patron_lemon = re.findall('.*[Ll](emon|EMON).*',df_copia[str(x)])
#         patron_bull = re.findall('.*[Bb](ull|ULL).*',df_copia[str(x)])
#         if patron_white:
#             return 'white'
#         elif patron_tiger:
#             return 'tiger'
#         elif patron_grey:
#             return 'grey'
#         elif patron_lemon:
#             return 'lemon'
#         elif patron_bull:
#             return 'bull'
#         else:
#            return 'Unspecified' 
#     except TypeError:
#         return 'Unspecified'

# patrones('species_')

In [ ]:
# def patrones(x):
#     for i in range(len(x)):
#         try:
#             patron_white = re.findall('.*[Ww](hite|HITE).*',x[i])
#             patron_tiger = re.findall('.*[Tt](iger|IGER).*',x[i])
#             patron_grey = re.findall('.*[Gg(rey|REY)].*',x[i])
#             patron_lemon = re.findall('.*[Ll](emon|EMON).*',x[i])
#             patron_bull = re.findall('.*[Bb](ull|ULL).*',x[i])
#             if patron_white:
#                 return 'white'
#             elif patron_tiger:
#                 return 'tiger'
#             elif patron_grey:
#                 return 'grey'
#             elif patron_lemon:
#                 return 'lemon'
#             elif patron_bull:
#                 return 'bull'
#             else:
#                 return 'Unspecified' 
#         except:
#             return 'Unspecified'

# patrones(df_copia['species_'])

In [ ]:
# species_limpia = []  
# def patrones1(x):                        
#     for i in range(len(x)):  
#         if x[i] ==  re.findall('White',x[i]):
#             species_limpia.append(i)
#         else:
#             species_limpia.append('Unspecified')                 
#     print(species_limpia)
# patrones1(df_copia['species_'])

In [44]:
species_limpia = []  

def patrones(x): 
    columna_species = df_copia[x]                      
    for fila in columna_species:                      
        if re.match('.*[Ww](hite|HITE).*', str(fila)):
            species_limpia.append('white')
        elif re.match('.*[Tt](iger|IGER).*',str(fila)):
            species_limpia.append('tiger')
        elif re.match('.*[Gg(rey|REY)].*', str(fila)):
            species_limpia.append('grey')
        elif re.match('.*[Ll](emon|EMON).*', str(fila)):
            species_limpia.append('lemon')
        elif re.match('.*[Bb](ull|ULL).*', str(fila)):
            species_limpia.append('bull')
        else:
            species_limpia.append('Unspecified')

In [45]:
patrones('species_')

In [ ]:
print(species_limpia)

In [47]:
species_nuevo = pd.DataFrame(species_limpia)   
species_nuevo.head(12)

              0
0   Unspecified
1   Unspecified
2   Unspecified
3   Unspecified
4   Unspecified
5   Unspecified
6   Unspecified
7         tiger
8   Unspecified
9   Unspecified
10  Unspecified
11  Unspecified

In [49]:
df['species_'] = species_nuevo
df.head()

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal_clean,sexo
0,1800.00.00,1800,Unprovoked,seychelles,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,Unspecified,"FATAL, all onboard were killed by sharks",NaN,Y,F
1,1797.05.28.R,1797,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,Unspecified,FATAL,May,Y,NaN
2,1792.09.12,1792,Provoked,england,NaN,On the Thames River,Fishing,male,NaN,NaN,Unspecified,"FATAL, PROVOKED INCIDENT",Sep,Y,M
3,1791.00.00,1791,Unprovoked,australia,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",NaN,NaN,Unspecified,"FATAL, ""bitten in two""",NaN,Y,F
4,1788.05.10,1788,Boat,australia,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,Unspecified,"No injury to occupants, shark bit oar and rudder",May,N,NaN

Ejercicio 2

In [16]:
df_copia['age'].unique()

array([nan, 'young', '14', '19', '20', '15', '21', '27', '36', '25', '6',
       '16', '50', '13 or 14', '57', '11', '48', '18', '52', '12', '32',
       '10', '34', '30', '60', '33', '29', '54', '41', '37', '56', '69',
       '38', '55', '35', '46', '45', '40s', '28', '24', '26', '49', '22',
       '7', '31', '17', '40', '13', '42', '3', '8', '82', '73', '20s',
       '68', '51', '39', '58', 'Teen', '47', '61', '65', '66', '43',
       '60s', '9', '72', '59', '64', '23', '71', '44', '62', '63', '70',
       '18 months', '53', '30s', '50s', 'teen', '77', '74', '28 & 26',
       '5', '86', '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30',
       'Teens', '36 & 26', '8 or 10', '84', '\xa0 ', ' ', '30 or 36',
       '6½', '21 & ?', '75', '33 or 37', 'mid-30s', '23 & 20', ' 30',
       '7      &    31', ' 28', '20?', "60's", '32 & 30', '16 to 18',
       '87', '67', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ',
       '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81',
       '"young"', '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½'], dtype=object)

In [ ]:
patron_año = '\d+'

Ejercicio 2

In [1]:
import re

SyntaxError: invalid syntax (3346572982.py, line 1)

In [ ]:
def sacar_edades(col):
    patron_edades = r'\d+'
    x = re.findall(patron_edades, col)
    try:
        return int(x[0])
    except:
        return np.nan

Aplicamos la función

In [2]:
sacar_edades()

NameError: name 'sacar_edades' is not defined

In [3]:
df["age_new"] = df["age"].apply(sacar_edades(df["age"]))

NameError: name 'df' is not defined

In [ ]:
df["age_new"].unique()

In [ ]:
df['nombre_columna'] = df['nombre_columna'].astype(str)

In [ ]:
df = df.explode('age_new')
df["age_new"].sample(10)

Falta comprobar que ha funcionado

In [4]:
Falta comprobar que ha funcionado

SyntaxError: invalid syntax (1840420176.py, line 1)

In [ ]:
df